/*General Styles*/
h2, td {
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

th {
    padding: 20px !important;
}

h1 {
    padding: 10px;
}
div.row1 {
    z-index: -2;
}
table {
	width: 95%;
    background-color: #f2f2f2 !important;
}

td > a {
    text-decoration: none;
    display: block;
    padding: 19px;

}

td > a:hover {
    text-decoration: none !important;
    color: white;
}

ul {
	list-style-type: none;
}

/*Styles for Computer Science Table*/


table.ComputerScienceandEngineering td {
	color: #0099CC;
   } 

table td:hover {
    background-color: #0099CC;
    color: white;

}

table.ComputerScienceandEngineering th {
	color: #0099CC;
    padding:15px;
    width: 10%;
    
}

/*Styles for Electronics Table*/


table.ElectricalandElectronicsEngineeringectronicsandCommunicationEngineering td {
	color: #FF9933;
    
    }

table.ElectricalandElectronicsEngineeringectronicsandCommunicationEngineering td:hover {
    background-color: #FF9933;
    color: white;
}

table.ElectricalandElectronicsEngineeringectronicsandCommunicationEngineering th {
	color: #FF9933;
    padding:15px;
    
}

/*Styles for Mechanincal Table*/


table.MechanicalEngineering td {
	color: #FF0066;
    
    }

table.MechanicalEngineering td:hover {
    background-color: #FF0066;
    color: white;
}

table.MechanicalEngineering th {
	color: #FF0066;
    padding:15px;
    
}

/*Styles for Biotechnology Table*/


table.Biotechnology td {
	color: #00CC99;
   
    }

table.Biotechnology td:hover {
    background-color: #00CC99;
    color: white;
}

table.Biotechnology th {
	color: #00CC99;
    padding:15px;
    
}

/*Styles for Civil Table*/


table.CivilEngineering td {
	color: #00CC00;  
    }

table.CivilEngineering td:hover {
    background-color: #00CC00;
    color: white;
}


table.ElectricalandElectronicsEngineering td {
	color: #CC6600;  
    }

table.ElectricalandElectronicsEngineering td:hover {
    background-color: #CC6600;
    color: white;
}

table.ElectricalandElectronicsEngineering th {
	color: #CC6600;
    padding:15px;
    
}

