/*General Styles*/
h2 {
    padding: 10px;
    text-align: center;
}

table {
	width: 100%;
}

td {
    padding: 20px;
}

ul {
	list-style-type: none;
}

/*Styles for Computer Science Table*/


table.ComputerScienceandEngineering td {
	color: #0099CC;
}

table.ComputerScienceandEngineering td:hover {
    background-color: #0099CC;
    color: white;
}

table.ComputerScienceandEngineering th {
	color: #0099CC;
    
}

/*Styles for Electronics Table*/


table.ElectricalandElectronicsEngineeringectronicsandCommunicationEngineering td {
	color: #FF9933;
    }

table.ElectricalandElectronicsEngineeringectronicsandCommunicationEngineering td:hover {
    background-color: #FF9933;
    color: white;
}

table.ElectricalandElectronicsEngineeringectronicsandCommunicationEngineering th {
	color: #FF9933;
    
}

/*Styles for Mechanincal Table*/


table.MechanicalEngineering td {
	color: #FF0066;
    }

table.MechanicalEngineering td:hover {
    background-color: #FF0066;
    color: white;
}

table.MechanicalEngineering th {
	color: #FF0066;
    
}

/*Styles for Biotechnology Table*/


table.Biotechnology td {
	color: #00CC99;
    }

table.Biotechnology td:hover {
    background-color: #00CC99;
    color: white;
}

table.Biotechnology th {
	color: #00CC99;
    
}

/*Styles for Civil Table*/


table.CivilEngineering td {
	color: #00CC00;
    }

table.CivilEngineering td:hover {
    background-color: #00CC00;
    color: white;
}

table.CivilEngineering th {
	color: #00CC00;
    
}

/*Styles for Electrical Table*/


table.ElectricalandElectronicsEngineering td {
	color: #CC6600;
    }

table.ElectricalandElectronicsEngineering td:hover {
    background-color: #CC6600;
    color: white;
}

table.ElectricalandElectronicsEngineering th {
	color: #CC6600;
    
}


