/*General Styles*/
h2, td {
    text-align: center;
    font-size: 14px;
}

h1 {
    padding: 10px;
}

h2 {
    padding: 50px 0px 10px 0px;
}

div.row1 {
    z-index: -2;
}
table {
	width: 95%;
    background-color: #f2f2f2 !important;
    border-top: 2px solid #002db3;
}

td > a {
    text-decoration: none;
    display: block;
    height: 100%;        
    width: 100%;
    padding: 10px;
}

td > a:hover {
    text-decoration: none !important;
    color: white;
}

ul {
	list-style-type: none;
}

/*Styles for Computer Science Table*/


table td {
    color: #0099CC;
    
}

table td:hover {
    background-color: #0099CC;
    color: white;
}




