@font-face {
    font-family: header-font;
    src: url(../../assets/Daydreamer.ttf);
}

@font-face {
    font-family: button-font;
    src: url(../../assets/Verdana.ttf);
}

h1#header {
	margin-top: 246px;
	text-align: center;
	font-weight: normal;
	color: #2c2929;
	font-family: header-font;
	font-size: 6em;
}

body {
	background-image:url("../../assets/images/background.jpg");
}

div.but {
	text-align: center;
	padding: 13px;

}

div#sign-up {
	margin-top: 74px
}

a.custom-button {
	padding: 10px 100px 10px 100px;
	font-size: 18px;
	background-color: black;
	text-decoration: none;
	color: white;
	font-family: Helvetica;
	border-radius: 20px;
}

a {
	transition-property: background-color;
    transition-duration: 0.6s;
    transition-delay: 0s;
}

div.log {
	text-align: right;
	margin-top: 17px;
}

a#contribute {
	padding: 10px 94px 10px 94px;
}

a#browse {
	padding: 10px 106px 10px 106px;
}

a#sign-up {
	padding: 10px 103px 10px 103px;
}

a#sign-up:hover {
	background-color: #00CC66;
}

a#browse:hover {
	background-color: #0099CC;
}

a#contribute:hover {
	background-color: #FF3399;
}

a#login {
	padding: 10px 50px 10px 50px ;
}

a#login:hover {
	background-color: #009933;
}

