table{
	margin-top: 10%;
	text-align: center;

}

td{
	padding:10px;
}

input.custom-button {
	padding: 8px 30px 8px 30px;
	font-size: 18px;
	background-color: black;
	color: white;
	font-family: Helvetica;
	border: none;
	border-radius: 20px;
	
}

input.custom-button:hover {
	background-color: #3A80FF;
}

#password_textbox, #username_textbox {
	height: 25px;
	width: 200px;
}

#password_textbox:focus, #username_textbox:focus {
	background-color: #99CCFF;
}

a.sign-up {
	background-color: black;
	padding: 13px;
	border-radius: 25px;
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-family: Helvetica;
}

a.sign-up:hover {
	background-color: #3A80FF;
}

