#mynavbar{

}

html, body {
	overflow-x:hidden;
}

#mynavbar ul ul {
	display: none;
}

#mynavbar ul li:hover > ul {
	display: block;
}

#mynavbar ul {
	font-size: 15px;
	font-weight:normal;
	background: black;
	color: black; 
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%;
	text-align: center;
	transition-property: background;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

#mynavbar ul:hover{
	border-bottom: 1px solid grey;
}

#mynavbar ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

#mynavbar ul li {
	float: left;
	margin-top: -1px;
}

#mynavbar ul li:hover {
	background-color: #3A80FF;
	transition-property: background-color;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
}

#mynavbar ul li:hover a {
	color: white;
	transition-property: background-color;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
}
	
#mynavbar ul li a {
	display: block; 
	padding: 16px 50px;
	color: #717173; 
	text-decoration: none;

}

#mynavbar ul ul {
	width:25%;
	background: #5f6975; 
	border-radius: 0px;
	padding: 0;
	position: absolute; 
	top: 100%;
	transition-property: background-color;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
}

#mynavbar ul ul li {
	float: none; 
	position: relative;
}

#mynavbar ul ul li a {
	padding: 15px 40px;
	color: white;
}	


#mynavbar ul ul li a:hover {
	background: #37b250;

}

#mynavbar ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
	margin-top:1px;
	width:35%;
}
/*From */
#mynavbar ul ul ul li {
	float: none; 
	position: relative;

}

#mynavbar ul ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	

#mynavbar ul ul ul li a:hover {
	background: #F651EB;
}

#mynavbar ul ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
	margin-top:1px;
	width:400%;
}

#mynavbar ul ul ul ul li a:hover {
	background: #E3881B;
}

div.loginInput {
	margin-top: 7px;
}

div.loginInput > input {
	border: 2px solid grey;
	background-color: black;
	color: white;
}

li#loginFeild {
	display: none;
}


li.loginFeild:hover {
	background-color: black !important;
}

input.username {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 8px;
	margin-left: 10px;
}

input.username:focus {
	outline: none;
}

input.password {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 8px;
	margin-left: 10px;
}

input.password:focus {
	outline: none;
}

input.submit {
	margin-right: 10px;
	padding: 10px;

	border-radius: 20px;
	width: 100px;
	background-color: white;
	outline: none;
	border: none;
}

input.submit:focus {
	outline: none;
}

input.submit:hover {
	background-color: #00CC66;
	transition-property: background-color;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
}

ul.editProfile {
	width: 150px !important;
	font-size: 12px !important;
}

ul.home {
	width: 14.2% !important;
}

